<div class="row">
	<form class="" action="/friends/<%= friendid %>" method="post">
		<div class="input-field col s6">
			<input type="text" name="first_name" value="" placeholder="{{friend.first_name}}" ng-model="editedFriend.first_name">First Name
		</div>
		<div class="input-field col s6">
			<input type="text" name="last_name" value="" placeholder="{{friend.last_name}}" ng-model="editedFriend.last_name">Last Name
		</div>
		<div class="col s12">
			<input type="date" class="datepicker" ng-model="editedFriend.birth_date">
		</div>
		<button class="btn waves-effect waves-light" type="button" name="button" ng-click="edit()">Edit</button>
	</form>
</div>
<div class="row">
	<a class="waves-effect waves-light btn" href="#/">Show Friends List</a>
</div>
