<a class="waves-effect waves-light btn" href="#/new">New Friend</a>
<div class="row">
	<table class="bordered striped highlight" ng-if="friends.length > 0">
		<thead>
			<th>Friend List</th>
		</thead>
		<tbody>
			<tr>
				<th>Name</th>
				<th>Birth Date</th>
				<th>Show</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="friend in friends">
				<td ng-bind-template="{{friend.first_name}} {{friend.last_name}}"></td>
				<td ng-bind="friend.birth_date | date:'MM/dd/yyyy'"></td>
				<td><a href="#/show/{{friend._id}}">show</a></td>
				<td><a href="#/edit/{{friend._id}}">Edit</a></td>
				<td><a href="#/" ng-click="delete(friend._id)">Delete</a></td>
			</tr>
		</tbody>
	</table>
</div>
